<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xuecheng.dao.RiceMapper">
    <select id="findRiceByArea" resultType="xuecheng.domain.Rice">
        SELECT * FROM rice
    </select>
</mapper>
